<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page | Random video</title>
    <link href="./css/main-random-video.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #1d85fc;">

<section class='menu shadow' style="background: #2b2b2b">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <p class="white_nav" style="font-size: 25px; font-weight:bold">PopHits</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link white_nav" href="/" style="font-weight:bold">Main Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white_nav" href="/topics">Topics</a>
                </li>
                <li class="nav-item" style="text-align: right">
                    <a class="nav-link white_nav" href="/rating">Rating</a>
                </li>
            </ul>
            <div class="nav-item text-end">
                <a class="btn btn-outline-light me-2 white_nav" href="/login">Login</a>
            </div>
        </header>
    </div>
</section>

<section>
    <div class="container" style="background:rgba(0,0,0,0.4);border-radius: 5px">
        <div style="padding-top: 20px"></div>
        <div style="color: #ffffff; font-size: 33px; text-align: center;margin-top: 10px; padding-bottom: 15px" class="lead">Random music video:</div>
        <div class="YoUvideo" style="text-align: center">
        <iframe width="1000" height="700" src="https://www.youtube.com/embed/<%= video_Id%>" title="YouTube video player"
                frameBorder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowFullScreen></iframe>
        </div>
        <div style="font-size: 20px; color: #efefef;font-weight: bold">Views: <%= views%></div>
    </div>
</section>

</body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>