<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link href="http://immense-escarpment-18318.herokuapp.com/css/main.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #1d85fc;">

<section class='menu shadow' style="background: #2b2b2b">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <p class="white_nav" style="font-size: 25px; font-weight:bold">PopHits</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link white_nav" href="/" style="font-weight:bold">Main Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white_nav" href="/topics">Topics</a>
                </li>
                <li class="nav-item" style="text-align: right">
                    <a class="nav-link white_nav" href="/rating">Rating</a>
                </li>
            </ul>
            <div class="nav-item text-end">
                <a class="btn btn-outline-light me-2 white_nav" href="/login">Login</a>
            </div>
        </header>
    </div>
</section>

<section class="main-part color-b" id="about_us">
    <div style="padding-top: 6em;"></div>
    <div class="container px-4 py-5" style="background:rgba(0,0,0,0.4);border-radius: 5px">
        <div>
        <h1 class="border-bottom white_nav" style="text-align: center;font-family:'Montserrat', sans-serif;font-size:4em;font-weight: bold;padding-bottom: 1em;">The best music video of all time</h1>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
            <div class="feature col">
                <h2 class="white_nav" style="margin-top: 5px">About us</h2>
                <p class="white_nav lead mtext">Nostalgia often overwhelms people, and they want to listen to popular world pop hits. With this site you can listen to tracks from a large collection and possibly add them to your playlist (Yandex Music or something else).</p>
            </div>

            <div class="feature col">
                <h2 class="white_nav mtext" style="margin-top: 5px">About music</h2>
                <p class="white_nav lead mtext">It makes us better, inspires and inspires, gives unforgettable feelings. It is thanks to music that a person is able to relax, relax, get some food for the mind. This kind of art can radically change a person's mood – cheer him up, sadden him, feel longing</p>
            </div>
        </div>
        <div class="white_nav" style="text-align: center"><a style="padding-right: 15px">Views under random music videos on YouTube prove this. Check number of views:</a>
            <a href="/rand_views">
                <input class="row btn btn-outline-light" type="submit" value="Get random the music-video from YouTube.">
            </a>
        </div>
        <div style="color: #c20000; text-align: center;font-size: 18px">It may take some time to load the pages</div>
        </div>
    </div>
    <div style="background: linear-gradient(transparent 20px, white);"></div>
</section>

</body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>