<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music</title>

    <style>
        body {
            font-family: Arial;
            color: #2b2b2b;
        }
        .white_nav {
            color: ghostwhite;
        }
    </style>
</head>
<body style="background-color: #3f3e3e">

<section class='menu shadow' style="background: #2b2b2b">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <p class="white_nav" style="font-size: 25px; font-weight:bold">PopHits</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link white_nav" href="/" style="font-weight:bold">Main Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white_nav" href="/topics">Topics</a>
                </li>
                <li class="nav-item" style="text-align: right">
                    <a class="nav-link white_nav" href="/rating">Rating</a>
                </li>
            </ul>
            <div class="nav-item text-end">
                <a class="btn btn-outline-light me-2 white_nav" href="/login">Login</a>
            </div>
        </header>
    </div>
</section>

</body>
</html>