body {
    background-image:url('../img/pic1.png');
}
.white_nav {
    color: ghostwhite;
}
.YoUvideo {
    position:relative;
    padding: 0 0 56.25% 0;
    height:0;
    overflow:hidden;
}
.YoUvideo iframe,.YoUvideo object,.YoUvideo embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}